<html>

  <head>

    <link rel="stylesheet" href="styles.css">

  </head>

  <body>

    <a href="/addCat">Add a Cat</a>
    <br>
    Your cats:

    <table>

    <% for(var i = 0; i < cats.length; i++) { %>
      <tr>
        <td>Name: <%= cats[i].name %></td>
        <td>Breed: <%= cats[i].breed %></td>
        <td>Age: <%= cats[i].age %></td>
        <td><img src=<%= cats[i].image %> alt="image of cat" height="50" width="50"></td>
      </tr>
    <% } %>

    </table>

  </body>


</html>
